.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.forms-inner {
  display: flex;
  max-width: 500px;
  margin: 0 auto;
  justify-content: space-between;
  margin-bottom: 20px;
  flex-wrap: wrap
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 0 auto;
}

.button {
  align-self: flex-end;
  min-width: 100px;
}

.block {
  padding: 15px 0;
  border: 1px solid black;
  border-radius: 10px;
  background: transparent;
  outline: none;
}

label {
  margin-bottom: 10px;
}

.table-block {
  max-width: 500px;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: space-around;
}